<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{name}的知乎回答集锦({author_id})</title>
    <link rel="stylesheet" href="../markdown.css">
    <link rel="stylesheet" href="../front.css">
</head>
<body>
<div class="container text-center">
    <img src="http://liukanshan.zhihu.com/images/downloads/avatars/classic/06-11c98f04.png" class="text-center v-center"
         width="320" height="320">

    <h1>{name}的知乎回答集锦({author_id})</h1>

    <div>
        <hr/>
        {description}
        <hr/>
    </div>
    <div>
        <table class="margin-center">
            <thead>
            <tr>
                <td colspan="2">
                    用户信息
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>用户名</th>
                <td><a href="http://www.zhihu.com/people/{author_id}">{name}</td>
            </tr>
            <tr>
                <th>关注人数</th>
                <td>{follower}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>版权信息:<a href="http://www.zhihu.com/terms">知乎协议</a></p>
</div>
</body>
</html>