<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml"  xmlns:epub="http://www.idpf.org/2007/ops"  xml:lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{creator_name}的专栏_{name}({column_id})</title>
    <link rel="stylesheet" href="../markdown.css">
    <link rel="stylesheet" href="../front.css">
</head>
<body>
<div class="container text-center">
    <img src="http://liukanshan.zhihu.com/images/downloads/avatars/classic/06-11c98f04.png" class="text-center v-center"
         width="320" height="320">

    <h1>{creator_name}的专栏_{name}({column_id})</h1>

    <div>
        <hr/>
        {description}
        <hr/>
    </div>
    <div>
        <table class="margin-center">
            <thead>
            <tr>
                <td colspan="2">
                    专栏信息
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>创建者</th>
                <td><a href="http://www.zhihu.com/people/{creator_hash}">{creator_name}</td>
            </tr>
            <tr>
                <th>文章总数</th>
                <td>{article}</td>
            </tr>
            <tr>
                <th>关注人数</th>
                <td>{follower}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>版权信息:<a href="http://www.zhihu.com/terms">知乎协议</a></p>
</div>
</body>
</html>