<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml"  xmlns:epub="http://www.idpf.org/2007/ops"  xml:lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <link rel="stylesheet" href="../markdown.css">
    <link rel="stylesheet" href="../front.css">
</head>
<body>
<div class="question">
    <div class="question-title">
        <div data-type="place_holder"></div>
        <div data-type="content">
            <h1>{title}</h1>
        </div>
    </div>
    <div class="question-info">
        {description}
    </div>
</div>
{answer_content}
</body>
</html>