/* 多看定制样式 */
div.content，p {
    font-family: "DK-SONGTI";
    color: #000;
    font-size: 1rem;
}
div.author-name a
{
    float: left;
    font-family: "DK-SONGTI";
}

div.author-name p{
    float: left;
    font-family: "DK-KAITI";
}

div.author-logo {
    float: right;
}
div.extra-info p {
    float: left;
}
div.extra-info p.publish-date {
    float: right;
}

/* 多看阅读不支持浮动等css样式，只能分两份写了 */
@media screen {
    p {
        font-family: 'Microsoft Yahei', 微软雅黑, STHeiti, Hei, 'Heiti SC', 黑体, "DK-SONGTI";
        color: #000;
        font-size: 1rem;
    }

    div.content {
        font-family: 'Microsoft Yahei', 微软雅黑, STHeiti, Hei, 'Heiti SC', 黑体, "DK-SONGTI";
        color: #000;
        font-size: 1rem;
    }

    .text-center {
        text-align: center;
    }

    .v-center {
        vertical-align: middle;
    }

    .margin-center {
        margin: 0 auto;
    }

    /* author info */
    div.author-name a, div.author-name p, div.author-info p, div.author-info a {
        display: inline-block;
        margin: 0;
    }

    div.author-name p:before {
        content: '，';
    }

    div.author-name {
        display: inline-block;
    }

    div.author-logo {
        float: right;
        display: inline-block;
        vertical-align: middle;
        margin-top: 1rem;
    }

    /* article */
    div.extra-info p {
        display: inline;
        margin: 0;
    }

    div.extra-info p:last-child {
        display: inline;
        float: right;
        margin: 0;
    }

    div.extra-info {
        margin-top: 1rem;
    }

    /* answer info */
    /* question */
    .answer-content:after {
        content: '';
        color: gray;
        font-size: 1.25rem;
        text-overflow: hidden;
        background-repeat: ' ';
        display: block;

    }

    div.question {
        width: 100%;
        float: right;
        background-color: #428ECE;
    }

    div.question h1 {
        font-family: "DK-SONGTI";
        color: #FFFFFF;
        background-color: #3982C6;
        vertical-align: middle;
        text-align: left;
        padding: 1rem;
        width: 70%;
        float: right;
        margin: 3rem 0;
    }

    div.author-name {
        margin: 1rem 0;
        font-size: 1rem;
    }

    div.author-name a {
        font-weight: 600;
        font-family: 'Microsoft Yahei', 微软雅黑, STHeiti, Hei, 'Heiti SC', 黑体, "DK-HEITI";
        color: #3d3e45;
    }

    div.author-name p {
        font-family: "楷体", "DK-KAITI";
        font-weight: normal;
    }

    div.question-info {
        font-family: 'Microsoft Yahei', 微软雅黑, STHeiti, Hei, 'Heiti SC', 黑体, DK-SONGTI;
        float: right;
        color: #FFF;
        font-size: 1rem;
        margin: 0 1rem;
    }

    div.content img
    {
        width:100%;
    }
    /* article */
    div.title-image
    {
        text-align: center;
    }
    div.title-image img
    {
        width:100%;
    }

}